@import url(reset.css);
@import url(normalize.css);

body{
    height: 100dvh;
    background-color: black;
}

.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
}

.redStar {
    position: absolute;
    background-color: rgb(255, 125, 55);
    border-radius: 50%;
}